.img{
    object-fit: cover;
    width: 100%;

}
/* display: block;
width: 50vw;
max-width: 177.78vh;
// 16/9 = 1.778 
height: 56.25vw;
 //height:width ratio = 9/16 = .5625  
max-height: 50vh;
object-fit: scale-down;
background-color: #f6cfaa; */

.bodyWidth{
    width:95%;
    margin: auto;
    margin-top: 3%;
}
body{
    background: rgb(255, 255, 255);
  }
  @media(max-width:1215px){
    .img{
        height: 33vw !important;
    }
}

@media (max-width:890px){

    .img{
        height: 30vw!important;
    }
  }
  @media (max-width:790px){
    .bodyWidth{
        width: 100%;
    }
    .img{
        height: 40vw!important;
    }
  }
  @media (max-width:576px){
  
    .img{
        object-fit: cover;
        width: 100%;
        height: 45vw!important;
    }
    
}
@media(max-width:550px){
      .bodyWidth{
          width: 100%;
      }
      .img{
        height: 45vw!important;
    }
  }
  
  


@media (max-width:450px){
    .bodyWidth{
        width: 100%;
    }
    .img{
        height: 60vw!important;
    }
  }
